<div class="container">
  <div class="row">
    <!--Default-->
    <div class="col-4">
      <div *ngFor="let board of defaultBoard; let row=index">
        <div class="row">
          <div *ngFor="let val of board; let col=index">
            <div>
              <span class="col-1" [ngClass]="{'border-right': col%3==2,'border-bottom':row%3==2}">{{val}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Button-->
    <div class="col-4 text-center">
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-success marginTop50" (click)="Solve()">
            {{ loading ? 'Wait...' : 'Solve'}}
          </button>
        </div>
      </div>
    </div>

    <!--Result-->
    <div class="col-4">
      <div *ngFor="let board of ResultBoard; let row=index">
        <div class="row">
          <div *ngFor="let val of board; let col=index">
            <div>
              <span class="col-1" [ngClass]="{'border-right': col%3==2,'border-bottom':row%3==2}">{{val}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

